:root{
  --icon_size: 48px;
  --icon_size_hover: 47px;
}

#download{
  width: var(--icon_size);
  margin-right: var(--icon_size);
}

#download:hover{
  width: var(--icon_size_hover);
}

#date{
  background-image: url('menu.jpg');
  padding: .5em;
  font-size: 1.15em;
  font-weight: 900;
  text-align: center;
}
.loading {
  animation: 3s linear 0s normal none infinite running rotate-animation;
  }

@keyframes rotate-animation {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
  }

@media (orientation: portrait){
  .image{
    display: flex;
    flex-flow: column nowrap;
   justify-content: space-between;
  }
.pilot{

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

  #date{
    margin-right: .2rem;
    margin-left: .2rem;
  }
}

@media (orientation: landscape){
  .image{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    }
  .pilot{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #date{
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
.image{
  height: 87vh;
  }
body{
  background-image: url("fon.jpg");
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}
.ziro{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
button{
  cursor: pointer;
  font-size: 2em;
  font-weight: 900;
  padding: 1em;
  border: black 2px solid;
}

.caption{
  margin-left: 1em;;
  margin-right: 1em;
}

button:hover{
  border: black 1px solid;
}
.menu input{
  margin-left: .5rem;
}
.menu div, #download{
  cursor: pointer;
  padding: 2px;
  border: black 2px solid;
  margin-left: 1.5rem;
  background-color: indigo;
  box-shadow: 0.3125rem 0.3125rem 0.325rem #0F5F73;
  color: yellow;
  text-shadow: -4px 4px 3px #999999, 1px -1px 2px #000;
} 
 .menu div:hover, #download:hover {
   box-shadow: 0.06rem 0.06rem 0.06rem #0F5F73;
   border: solid 0.125rem;
   border-radius: 0.5rem;

 }

 #info_vir_albom_img {
  width:10vw;
  max-height: 16vh;
}
 .info_vir_albom_button{
  border: black 2px solid;
  box-shadow: 0.3125rem 0.3125rem 0.325rem #0F5F73;
  width: 32px;
  margin-right: 0.5rem;
 }
 .info_vir_albom_button:hover{
  cursor: pointer;
  box-shadow: 0.06rem 0.06rem 0.06rem #0F5F73;
  border: solid 0.125rem;
  width: 34px;  
 }

.div_form_fotos{
  display: flex;
}
#menufind{
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-image: url(menu.jpg);
  border: solid 0.125rem indigo;
  border-radius: 1.5rem 1.5rem .1rem .1rem ;

}
#menufind1{
  display: none;
  height: 2rem;
  background-image: url(menu.jpg);
  border: solid 0.125rem indigo;
  border-radius: 1.5rem 1.5rem .1rem .1rem ;
  padding-right: 6px;
}
.menu_admin_button{
  width: var(--icon_size);
  height: var(--icon_size);
  background-size: contain;
}

.menu_admin_button:hover{
  cursor: pointer;
  width: var(--icon_size_hover);
  height: var(--icon_size_hover);
  border: white 1px solid;
}

#info_vir_albom{
  background-color: antiquewhite;
  border: solid 0.125rem;
  border-radius: 0.2rem;
  border-color: chocolate;
  padding: .5rem;
}

.menu_admin_osn{
  background-color: #0000FF;
  border: solid 0.125rem;
  border-radius: 0.2rem;
  border-color: chocolate;
  color: yellow;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.5rem;
}
.pilot{
  background-color: white;
  flex: 1 .5rem 3rem;
  opacity: 25%;
}

.pilot:hover{
  cursor: pointer;
  background-color: white;
  flex: 1 .5rem 3rem;
  opacity: 75%;
}
.caps {
  background-image: url("page.jpg");
  background-repeat: round;
  text-align: center;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu {
  display: flex;
  background-image: url("menu.jpg");
  padding: 0.6rem;
  font-size: 1.2rem;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: indigo;
  box-shadow: 0.3125rem 0.3125rem 0.325rem #0F5F73;
  border: solid 0.125rem;
  border-radius: 0.5rem;
  text-shadow: -4px 4px 3px #999999, 1px -1px 2px #000;
  transition-property: all;
  transition-duration: 0.4s;
}
#admin_grid{
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 256px 1fr;
  align-items: start;
  grid-column-gap: 1em;
  margin: 0.5em;
}
#new_name_vir_fould{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230,230,230,0.58);;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.form{
  background-color: white;
  display: flex;
  border: green 2px solid;
  text-shadow: -4px 4px 3px #999999, 1px -1px 2px #000;
  flex-direction: column;
  align-items: center;
}
.form input{
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;

}
.form button{
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: .5em;

}
.form_caption{
  background: blue;
  color: white;
  margin-bottom: 1em;
  border: black 2px solid;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: self-end;
  font-size: 1.2rem;
}

#grid_fotos_date{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-gap: 0.5em;
  margin: .5em;
}

#grid_fotos_date > * {
  background-color: indigo;
    box-shadow: 0.3125rem 0.3125rem 0.325rem #0f5f73;
    border: solid 0.125rem;
    border-radius: 0.5rem;
    border-color: chocolate;
    color: yellow;
    padding: 0.5em;
    font-size: 1.2em;
}

.close{
  border: black 2px solid;
  padding: 0.4rem;
  background-color: white;
  text-shadow: none;
  color: black;
  width: 1rem;
}

.close:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.head_admin{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_albom{
  height: 75vh;
  overflow: auto;
  box-shadow: 0.3125rem 0.3125rem 1.325rem #0F5F73;
}
.polka {
  background-image: url("page.jpg");
  padding-left: 6px;
  
}
.polka-flex, #albom_admin_foto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.albom{
background-color: indigo;
    box-shadow: 0.3125rem 0.3125rem 0.325rem #0F5F73;
    border: solid 0.125rem;
    border-radius: 0.5rem;
    border-color: chocolate;
  width: 6rem;
  height: 6.8rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2.06rem;
  margin-right: 0.9rem;
  color: yellow;
  text-shadow: -4px 4px 3px #999999, 1px -1px 2px #000; 
  transition-property: all;
  transition-duration: 0.4s;
}
.albom:hover{
    background-color: indigo;
    box-shadow: 0.06rem 0.06rem 0.06rem #0F5F73;
    border: solid 0.125rem;
    border-radius: 0.5rem;
    border-color: chocolate;
  width: 6rem;
  height: 6.8rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2.06rem;
  margin-right: 0.9rem;
  color: yellow; 
  cursor: pointer;
}

/*.albom{
  background-image: url("fonalbom.jpg");
    box-shadow: 5px 5px 10px #0F5F73;
    border: solid 2px;
    border-radius: 8px;
    border-color: chocolate;
    max-width: 99%;
  width: 95px;
  height: 110px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 33px;
  margin-right: 15px;
  color: yellow; 
}

.albom:hover {
  background-image: url("fonalbom.jpg");
    box-shadow: 1px 1px 1px #0F5F73;
    border: solid 2px;
    border-radius: 8px;
    border-color: chocolate;
    max-width: 99%;
  width: 95px;
  height: 110px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 33px;
  margin-right: 15px;
  color: white;
  cursor: pointer;

}**/

a {
  text-decoration: none;
}
/***************************************************/
tml {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust:100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

